@import url("https://fonts.googleapis.com/css?family=Oswald:300,400,700|Open+Sans");
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html,
body {
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden; }

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", serif;
  font-size: 100%;
  color: #0c0c0c; }
  @media (min-width: 600px) {
    body {
      font-size: 125%; } }

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  display: block;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  line-height: 1.2;
  word-wrap: break-word; }

h1,
.h1 {
  font-size: 2em;
  font-weight: 700;
  padding-top: 0.5em; }
  @media (min-width: 600px) {
    h1,
    .h1 {
      font-size: 3.5em; } }

h2,
.h2 {
  font-size: 1.75em; }
  @media (min-width: 600px) {
    h2,
    .h2 {
      font-size: 2.375em; } }

h3,
.h3 {
  font-size: 1.5em; }
  @media (min-width: 600px) {
    h3,
    .h3 {
      font-size: 2em; } }

h4,
.h4 {
  font-size: 1.375em; }
  @media (min-width: 600px) {
    h4,
    .h4 {
      font-size: 1.625em; } }

h5,
.h5 {
  font-size: 1.125em; }
  @media (min-width: 600px) {
    h5,
    .h5 {
      font-size: 1.25em; } }

@media (min-width: 600px) {
  h6,
  .h6 {
    font-size: 1.125em; } }

p {
  font-size: 1em;
  margin: 0; }
  @media (min-width: 600px) {
    p {
      font-size: 1.125em; } }

a {
  color: #a70440;
  text-decoration: none; }
  a:hover, a:focus {
    color: #840332;
    text-decoration: underline; }

img {
  display: block;
  max-width: 100%;
  margin: 0; }

ul,
ol {
  margin: 0;
  padding: 0; }

ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0; }

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 80em;
  width: 88%; }

.flex-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.25);
  -webkit-transition: 0.2s background ease-in;
  -o-transition: 0.2s background ease-in;
  transition: 0.2s background ease-in;
  z-index: 1; }
  .header:hover {
    background: rgba(0, 0, 0, 0.5); }
  .header .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    list-style: none;
    margin: 0; }
    .header .nav li {
      padding: 20px 30px;
      -ms-flex-item-align: center;
          align-self: center; }
    .header .nav li a {
      color: #fff; }
      .header .nav li a:hover {
        text-decoration: none; }

.hero {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-image: url("../images/bg-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center; }
  .hero:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(202, 5, 77, 0.4); }
  .hero .hero-text {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    padding: 0;
    text-align: center;
    color: #fff;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    z-index: 2; }
