<div class="line"></div>

<header class="header">
  <div class="container">
    <div class="row">
      <div class="col-xs-3">
        <a href="./" class="logo">
          fam<span></span>ous
        </a>
      </div>
      <div class="col-xs-9 end-xs">
        <a href="{{site.baseurl}}/" class="hidden-sm">Home</a>
        <a href="{{site.baseurl}}/about" class="hidden-sm">About</a>
        <a href="#" id="nav-toggle">
          <div class="patty"></div>
        </a>
      </div>
    </div>
  </div>
  <div class="nav-background">
    <ul>
      <li><a href="{{site.baseurl}}/">Home</a></li>
      <li><a href="{{site.baseurl}}">Another Link</a></li>
      <li><a href="{{site.baseurl}}">Another Link</a></li>
    </ul>
  </div>
</header>
