<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <title>{% if page.title %}{{ page.title | strip_html }} &#8211; {% endif %}{{ site.title | strip_html }}</title>
  <meta property="keywords" content="{% if page.keywords %}{{ page.keywords | escape }}{% else %}{% endif %}">
  <meta name="description" content="{% if page.description %}{{ page.description | strip_html | truncatewords: 160 | escape }}{% else %}{{ page.content | strip_html | truncatewords: 160 | escape }}{% endif %}">
  <meta property="og:type" content="website">
  <meta property="og:title" content="{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}">
  <meta property="og:description" content="{% if page.description %}{{ page.description | strip_html | truncatewords: 200 | escape }}{% else %}{{ page.content | strip_html | truncatewords: 160 | escape }}{% endif %}">
  <meta property="og:image" content="#">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="{{ site.url }}">
  <meta name="twitter:creator" content="@{{ site.twitter }}">
  <meta name="twitter:title" content="{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}">
  <meta name="twitter:description" content="{% if page.description %}{{ page.description | strip_html | truncatewords: 200 | escape }}{% else %}{{ page.content | strip_html | truncatewords: 160 | escape }}{% endif %}" />
  <meta name="twitter:image" content="#">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css" type="text/css">
</head>