// Base
* {
  box-sizing: border-box;
}
html,
body {
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden; //prevent scroll on mobile
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: $font-primary; 
  font-size: $font-size-default;
  color: $color-body;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  @media (min-width: $bp-lg) {
    font-size: $font-size-lg;
  }
}
// Typography
h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5,h6,.h6 {
  font-family: $font-secondary; 
  font-weight: 400;
  line-height: 1.2;
  word-wrap: break-word;
}
h1,
.h1 {
  font-size: calc-em(32px);
  font-weight: 700;
  padding-top: 0.5em;
  @media (min-width: $bp-md) {
    font-size: calc-em(56px);
  }
}
h2,
.h2 {
  font-size: calc-em(28px);
  @media (min-width: $bp-md) {
    font-size: calc-em(38px);
  }
}
h3,
.h3 {
  font-size: calc-em(24px);
  @media (min-width: $bp-md) {
    font-size: calc-em(32px);
  }
}
h4,
.h4 {
  font-size: calc-em(22px);
  @media (min-width: $bp-md) {
    font-size: calc-em(26px);
  }
}
h5,
.h5 {
  font-size: calc-em(18px);
  @media (min-width: $bp-md) {
    font-size: calc-em(20px);
  }
}
h6,
.h6 {
  @media (min-width: $bp-md) {
    font-size: calc-em(18px);
  }
}
p {
  font-size: calc-em(16px);
  margin: 0;
  @media (min-width: $bp-md) {
    font-size: calc-em(18px);
  }
}
a {
  color: $color-link;
  text-decoration: none;
  &:hover,
  &:focus {
    color: $color-link-dark;
    text-decoration: underline;
  }
}
img {
  display: block;
  max-width: 100%;
  margin: 0;
}
ul,
ol {
  margin: 0 0 calc-em(32px);
  padding: 0;
  font-size: calc-em(16px);
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}