.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba($color-black, 0.25);
  z-index: 1;
  .nav {
    display: flex;
    justify-content: center;
    align-content: center;
    list-style: none;
    margin: 0;
    li {
      padding: 20px;
      align-self: center;
    }
    li a {
      color: $color-white;
      &:hover {
        text-decoration: none;
      }
    }
  }
}
