// Variables

// colors - brand
$color-body: #0c0c0c;
$color-primary: #CA054D; //magenta
$color-secondary: #A4D4B4; //l green
$color-primary-dark: darken($color-primary, 7%);
$color-secondary-dark: darken($color-secondary, 7%);

// colors - components
$color-border: #555;
$color-link: $color-primary-dark;
$color-link-dark: darken($color-primary-dark, 7%);

// colors - others
$color-white: #fff;
$color-black: #000;
$color-gray: #555;

// measurements - relative sizings of fonts in %
$font-size-default: 100%; //1em = 16px
$font-size-md: 112.5%;
$font-size-lg: 125%;

// fonts
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,700|Open+Sans');
$font-primary: "Open Sans", serif; //body
$font-secondary: "Oswald", sans-serif; //heading
