<!DOCTYPE html>
<html lang="en-us">
{% include head.html %}
  <body class="{% if page.bodyclass %}{{ page.bodyclass }}{% endif %}">
  {% include header.html %}
  <div class="container">
  {{ content }}
  </div><!--/.container-->
  {% include footer.html %}
  <!-- jQuery loaded via CDN, If needed
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/86/three.min.js"></script>
  <script src="{{ site.baseurl}}/js/main.js"></script>
  </body>
</html>
